* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    /* background-color: #f4e4ba; */
    background-image: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    display: flex;
    justify-content: center;
     background-color: rgba(255, 254, 254, 0.123);
    color: #696967de;
    padding: 0.5rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.container {
    background-color: rgba(255, 255, 255, 0.781);
    padding: 2rem;
    border-radius: 1rem;
    width: 90%; /* Take up 90% of the viewport width */
    max-width: 400px; /* Limit maximum width for larger screens */
    margin: auto; /* Center the container horizontally */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


#para{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
}
form {
    margin: 2rem 0 1rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}


.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
   
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}


form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
    border: none;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #8e3b7e; 
}

/* Mobile-first approach: Start with styles for smaller screens */



/* Adjustments for smaller screens */



/* Media query for larger screens */

@media screen and (min-width: 768px) {
    .container {
        padding: 3rem; /* Increase padding */
    }

    form {
        margin: 2rem 0; /* Restore original top margin */
    }

    .amount input {
        height: 3rem; /* Restore original input height */
    }

    .msg {
        margin: 2rem 0; /* Restore original top and bottom margin */
    }

    form button {
        height: 3rem;
        font-size: 1.15rem; /* Restore original font size */
    }
}
